/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
exit
/public/system-images/*
/public/user_images/*
/public/fonts/*
/public/book-uploaded-files/*
/public/dormitory/*
/public/recreational-activity/*
/public/trainee-files/*
/public/training_requirement_files/*
/public/upload_reference/*
